body {
    background-color: #ece3e3;

    nav {
        border: 2px dashed red;
        display:flex;
        justify-content:space-between;
        .logoWrapper {
            border: 2px dashed blue;
            display:flex;
        }
        .burgerWrapper{
            border:2px dashed green;
            ol{
                display:none;
            }
        }
    }
}