* {
  box-sizing: border-box;
}

button {
  border-radius: 0;
  padding: 1.5rem 2.5rem;
  background-color: #FE682F;
  border: 2px solid black;
  position: relative;
}
button:after {
  content: "";
  border: 2px solid black;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0.5rem;
  left: 0.5rem;
  z-index: -1;
  position: absolute;
}
button:active {
  top: 1rem;
  left: 1rem;
}
button:active:after {
  top: 0;
  left: 0;
}

body {
  z-index: -3;
  position: relative;
  background-color: rgb(250, 250, 250);
  font-family: "Lemon/Milk", sans-serif;
  margin: 0;
}
body nav {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  padding-bottom: 0.5rem;
  padding: 2rem 2rem 0.5rem 2rem;
  border-bottom: 2px solid black;
}
body nav .logoWrapper {
  display: flex;
  align-items: center;
  display: flex;
}
body nav .logoWrapper img {
  width: 2rem;
  height: 2rem;
  margin: 0.7rem;
}
body nav .logoWrapper h1 {
  font-size: 1.2rem;
}
body nav .burgerWrapper {
  display: flex;
  position: relative;
  align-items: center;
}
body nav .burgerWrapper label {
  margin-right: 0.7rem;
  right: 0;
  width: 2rem;
  height: 2rem;
  position: absolute;
  cursor: pointer;
}
body nav .burgerWrapper label > div {
  transition: 0.5s;
  height: 6px;
  background-color: #000;
  position: absolute;
  width: 100%;
}
body nav .burgerWrapper label > div:nth-child(2) {
  top: calc(1rem - 3px);
}
body nav .burgerWrapper label > div:nth-child(3) {
  bottom: 0;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
}
body nav .burgerWrapper label > div:nth-child(3) div:nth-child(1) {
  background-color: #000;
  width: 60%;
}
body nav .burgerWrapper label > div:nth-child(3) div:nth-child(2) {
  width: 20%;
  background-color: #FE682F;
}
body nav .burgerWrapper ol {
  z-index: -1;
  background-color: none;
  display: flex;
  position: absolute;
  flex-direction: column;
  right: -2rem;
  padding: 20px 10px;
  border: 2px none;
  margin: 0;
  width: 100vh;
  list-style: none;
  transition: 0.5s;
  top: -100vh;
}
body nav .burgerWrapper input {
  display: none;
}
body nav .burgerWrapper #toggler:checked ~ ol {
  top: 100%;
}
body nav .burgerWrapper #toggler:checked ~ label > div {
  top: calc(1rem - 3px);
}
body nav .burgerWrapper #toggler:checked ~ label > div:nth-child(1) {
  transform: rotate(45deg);
  transition: 0.5s;
}
body nav .burgerWrapper #toggler:checked ~ label > div:nth-child(2) {
  opacity: 0;
}
body nav .burgerWrapper #toggler:checked ~ label > div:nth-child(3) {
  transform: rotate(-45deg);
  transition: 0.5s;
  background-color: black;
  justify-content: center;
}
body nav .burgerWrapper #toggler:checked ~ label > div:nth-child(3) div:nth-child(1) {
  display: none;
}
body nav .burgerWrapper #toggler:checked ~ label > div:nth-child(3) div:nth-child(2) {
  background-color: white;
}
body nav .buttons {
  display: none;
}
body main {
  position: relative;
  z-index: -2;
}
body main .titleWrapper {
  border-left: 2px solid black;
  margin-left: 2.7rem;
  padding: 1rem 2rem 3rem 0.7rem;
}
body main .titleWrapper h2 {
  font-size: 2rem;
  margin-top: 0;
}
body main .titleWrapper p {
  font-family: "Lemon/Milk light ", sans-serif;
  margin: 2rem 0;
}
body main .titleWrapper button {
  display: none;
}
body main .titleWrapper b {
  font-size: 2rem;
}
body main .imgContainer {
  border-top: 2px solid black;
}
body main .imgContainer .imgWrapper {
  background-color: rgb(189, 33, 33);
  margin: 0 2.7rem;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
body main .imgContainer .imgWrapper .img {
  border: 2px dashed red;
  min-height: 80vh;
  background-image: url(../img/man-is-putting-watch-his-wrist\ 1.webp);
  background-size: cover;
  background-position: center;
  border-radius: 50vw;
}
body main .contentContainer {
  margin: 0 2.7rem;
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding: 2rem 1rem;
}
body main .contentContainer .buttonContainer {
  text-align: center;
  padding: 2.7rem 0;
}
body main .contentContainer .imgWrapper .img {
  border: 2px dashed black;
  min-height: 60vh;
  background-image: url(../img/businessman-checking-time.webp);
  background-position: center;
  background-size: cover;
  border: 2px solid black;
}
body main .trendingWrapper {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
body main .trendingWrapper .trending {
  background-color: yellow;
  margin: 0 2.7rem;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1280px) {
  nav {
    padding: 0 4rem !important;
  }
  nav .burgerWrapper {
    font-family: "Lemon/Milk light ", sans-serif;
    border-left: 2px solid black;
    border-right: 2px solid black;
    flex: 1;
    padding: 0 2rem;
  }
  nav .burgerWrapper ol {
    border: 3px dashed blue;
    top: 0 !important;
    position: relative !important;
    z-index: 0 !important;
    width: auto !important;
    right: auto !important;
    flex-direction: row !important;
    flex: 1;
    justify-content: space-around;
  }
  nav .burgerWrapper label {
    display: none;
  }
  nav .buttons {
    display: flex !important;
    align-items: center;
  }
  nav .buttons a {
    margin: 0 1rem;
  }
  nav .logoWrapper,
nav .button {
    padding: 2.5rem 3rem;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 3rem;
  }
  main .titleWrapper h2 {
    font-size: 3em !important;
  }
  main .titleWrapper h2 img {
    transform: scale(2.4);
    margin-left: 2rem;
  }
  main .titleWrapper p {
    max-width: 70%;
  }
  main .titleWrapper button {
    display: flex !important;
  }
}/*# sourceMappingURL=style.css.map */